<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="Delimiter" value=";"/>
    <add key="QuoteChar" value="&quot;"/>
    <add key="QuoteAlways" value="true"/>
    <add key="Filters" value="mail=@damco\.com$"/>
    <add key="Headers" value="Person_UniqueID;Person_FirstName;Person_LastName;Person_NotificationMailAddress;OfficePhoneNumber;MobilePhoneNumber;OfficeFaxNumber;TypeOfStaff_Desc;Person_Function;Person_JobTitle;Person_Section;OBU_Name;Department_Name;Manager_UniqueID;Location_Code;Location_AddressLine1;Location_AddressLine2;Country_Name;City_Name;Location_Latitude;Location_Longitude"/>
    <add key="Properties" value="sAMAccountName;givenName;sn;mail;telephoneNumber;mobile;facsimileTelephoneNumber;employeeType;;title;;;department;;c;StreetAddress;;co;l;;"/>
    <add key="OutFile" value ="export.csv" />
  </appSettings>
</configuration>
