<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="Delimiter" value=";"/>
    <add key="QuoteChar" value="&quot;"/>
    <add key="QuoteAlways" value="false"/>
    <add key="LDAPFilters" value="(&amp;(sAMAccountType=805306368)(ObjectClass=person))"/>
    <add key="Headers" value="Person_UniqueID;Person_FirstName;Person_LastName;Person_NotificationMailAddress;OfficePhoneNumber;MobilePhoneNumber;OfficeFaxNumber;TypeOfStaff_Desc;Person_Function;Person_JobTitle;Person_Section;OBU_Name;Department_Name;Manager_UniqueID;Location_Code;Location_AddressLine1;Location_AddressLine2;Country_Name;City_Name;Location_Latitude;Location_Longitude;Timezone"/>
    <add key="CityLookup" value="c,l"/>
    <add key="Properties" value="sAMAccountName;givenName;sn;mail;telephoneNumber;mobile;facsimileTelephoneNumber;employeeType;;title;;;department;;c;StreetAddress;;co;l;=Latetude;=Longitude;=TimeZone"/>
    <!-- <add key="SkipEmptyProperties" value="employeeType;Person_FirstName;Person_LastName"/> -->
    <add key="SkipExpiredPassword" value="0"/>
    <add key="SkipDontExpirePassword" value="false"/>
    <add key="SkipDisabledAccount" value="false"/>
    <add key="MinimumCount" value="1"/>
   <!-- <add key="PropertyFilters" value="employeeType=.+$"/> -->
    <add key="OutFile" value ="export.csv" />
  </appSettings>
</configuration>
