/*.suo
/AD2CSV/bin
/AD2CSV/obj

.DS_Store

*.userprefs

*.exe

*.mdb

*.exe

*.mdb
/Externals/geonames/*.suo
/Externals/geonames/geonames/bin/Debug/*.manifest
/Externals/geonames/geonames/obj/x86/Debug/*.cache
